tensorflow-macos==2.7.0; sys_platform == 'darwin' and 'ARM' in platform_version
tensorflow==2.7.0; sys_platform == 'darwin' and 'ARM' not in platform_version
tensorflow==2.7.0; sys_platform != 'darwin'
#python == 3.8.13
pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
scikit-learn
google-cloud-storage
nibabel
opencv-python
imutils
imageio
scikit-image
plotly
scipy
psycopg2-binary
mlflow
prefect

#packgenlite @ git+https://github.com/krokrob/packgenlite.git@master
